.cardHome {
    height: 50vh;
    width: 15vw;
    display: unset;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.2em solid grey;    
    border-radius: 1em;
    transition: 0.3s;
    box-shadow:  5px 5px 5px 2px grey;
    margin-right: 1em;
    background-color: #F0EC57 ;
    font-size: 2em;
}

.cardHome:hover{
    background-color: #E15554;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 5px 5px 5px 2px grey, 8px 8px 8px 5px grey;
}




.titleHomeText {
    text-align: center;
    background-color: #EDEDF4;
    margin-top: 2em;
}



.titleHomeDiv {
    text-align: center;
    background-color: #EDEDF4;
}


.RoomHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EDEDF4;
    color: #050401;
    width: auto;
    z-index: 0;
    padding-bottom: 2em;
    border-bottom: 0.5em solid grey;    
  }
  

.PhotoRoom {

    height: auto;
    width: 100%;
    margin-top: 1em;
  
}

.titleRoomClassCard {
    height: auto;
    width: auto;
    text-align: center;
}