nav {
    background: #ededf4;
    color: 050401;
    height: 10vh;
    width: auto;
    display: flex;
    justify-content: center;
    /* padding: 0.5rem calc((100vw - 1000px) / 2); */
    z-index: 0;
    position: sticky;
    top:0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }
  
  .blank {
    height: 10vh;
    width: 60vw;
  }
  
  .NavLink {
    color: #050401;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    
  }
  
  .img {
    height: 20vw;
    width: auto;
    padding-top: 0.5em;
    padding-left: 2em;
    max-height: 10em;
    margin-top: 1em;
  
  }
  
  .NavMenu {
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .NavLink:hover {
    
    background-color: #E15554;
    border-radius: 2%;
    transition: 1s;
  
  
  
  }